<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>АНК</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="Keywords" content="АНК">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic" rel="stylesheet">
	<link rel="shortcut icon" href="/custom/img/favicon.ico" type="image/vnd.microsoft.icon">
	<link rel="stylesheet" href="/css/normalize.css">
</head>
